$white: #fff;
$bg-1: #f5f5f5;
$main: #f93232;
$black: #121212;
$gray: #969fa8;
$add: #046d53;
$red-tag: rgba(252, 49, 49, 0.1);
$add-yellow: #fc0;
$add-red: rgba(249, 50, 50, 0.7);
$add-green: rgba(4, 109, 83, 0.1);

@mixin p-16-medium {
	font-size: 16px;
	font-weight: 500;
	font-family: 'Rubik', sans-serif;
}
@mixin p-16-regular {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Rubik', sans-serif;
	@media (max-with: 1440px) {
		font-size: 14px;
	}
}
@mixin p-14-regular {
	font-size: 14px;
	font-weight: 400;
	font-family: 'Rubik', sans-serif;
	@media (max-with: 1440px) {
		font-size: 12px;
	}
}
@mixin p-14-medium {
	font-size: 14px;
	font-weight: 500;
	font-family: 'Rubik', sans-serif;
	@media (max-with: 1440px) {
		font-size: 12px;
	}
}
@mixin red-button {
	background-color: $add-red;
	color: $white;
	@include p-16-medium;
	transition: 0.3s;
	&:hover {
		background-color: $main;
	}
}
@mixin white-button {
	background-color: $white;
	color: $black;
	@include p-16-regular;
	transition: 0.3s;

	&:hover {
		background-color: $main;
		color: $white;
	}
}
@mixin tag {
	background-color: $bg-1;
	padding: 4px 8px;
	border-radius: 30px;
	@include p-14-regular;
	color: $black;
}
@mixin border-bottom {
	border-bottom: 1px solid #f2f3f7;
}
@mixin border-right {
	border-right: 1px solid #f2f3f7;
}
@mixin border-top {
	border-top: 1px solid #f2f3f7;
}
@mixin border-left {
	border-left: 1px solid #f2f3f7;
}
@mixin border {
	border: 1px solid #f2f3f7;
}
@mixin border2 {
	border: 1px solid $bg-1;
}
