<dialog class="burger" id="burger">
  <ul class="burger__list">
    <img src="../assets/images/Vector3-1.svg" alt="" class="burger__list-close close" >
    <li class="burger__list-item links">
      <ul class="links__list">
        <li class="links__item"><a href="index.html" class="links__item-link">Главная</a></li>
        <li class="links__item"><a href="catalog.html" class="links__item-link">Каталог</a></li>
        <li class="links__item"><a href="index.html#instruction" class="links__item-link">Как установить</a></li>
        <li class="links__item"><a href="index.html#testimonials" class="links__item-link">Отзывы</a></li>
      </ul>
    </li>
    <li class="burger__list-item contacts">
      <ul class="contacts__list">
        <li class="contacts__item">
          <a href="mailto:toyota-maps@yandex.ru" class="contacts__item-link">Электронная почта</a>
        </li>
        <li class="contacts__item"><a href="tel:79140665555" class="contacts__item-link">+7 (914) 066-55-55</a></li>
      </ul>
    </li>
    <li class="burger__list-item socials">
      <ul class="socials__list">
        <li class="socials__list">
          <a href="" class="socials__list-link"
            ><img src="assets/images/span_whatsapp.png" alt="" class="socials__list-icon"
          /></a>
        </li>
        <li class="socials__list">
          <a href="" class="socials__list-link"
            ><img src="assets/images/span_telegram.png" alt="" class="socials__list-icon"
          /></a>
        </li>
      </ul>
    </li>
    <li class="burger__list-item buttons">
      <ul class="buttons__list">
        <li class="buttons__list-item"><button class="buttons__list-button call" >Заказать звонок</button></li>
        <li class="buttons__list-item"><button class="buttons__list-button"  onclick="window.location.href='catalog.html'">Перейти в каталог</button></li>
      </ul>
    </li>
  </ul>
  
</dialog>