<li class="catalog__card card">
	<img src="assets/images/b3ec12fca32531f1d54ab75efebe1f3ce9583f84.png" alt="" class="catalog__card-image card-image" />
	<p class="catalog__card-availability availability">В наличии</p>
	<p class="catalog__card-title card-title">USB-Обновление карт навигации и ПО Toyota и Lexus GEN 10</p>
	<p class="catalog__card-price card-price">от 4.500 руб</p>
	<div class="catalog__card-buttons">
		<button class="catalog__card-button" onclick="window.location.href='tovar.html'">Подробнее</button>
		<button data-card onclick="window.location.href='basket.html'" class="catalog__card-button buy">В корзину</button>
	</div>
</li>
