<li class="basket__item">
	<div class="basket-adaptives">
		<img src="assets/images/b3ec12fca32531f1d54ab75efebe1f3ce9583f84.png" alt="" class="basket__item-image" />
		<p class="basket__item-title">2USB-Обновление карт навигации и ПО Toyota и Lexus GEN 10</p>
	</div>
	<div class="basket-adaptives2">
		<p class="basket__item-price">4 500</p>
		<div class="basket__item-counter counter">
			<button class="basket__item-minus" data-action="minus"><img src="assets/images/Vector3.svg" alt="" /></button>
			<p class="basket__item-number quantity">1</p>
			<button class="basket__item-plus" data-action="plus"><img src="assets/images/Vector3-1.svg" alt="" /></button>
		</div>
		<button type="button" class="basket__item-delete">Удалить</button>
	</div>
</li>
