.
<section class="catalog-home container">
	<h2 class="catalog__title">Каталог</h2>

	<div class="catalog__cards-container">
		<img src="assets/images/Iconly.svg" alt="" class="catalog__slider-left arrowLeft" />
		<div class="catalog__slider">
			<ul class="catalog__cards">
				{{> card }}
				{{> card }}
				{{> card }}
				{{> card }}
				{{> card }}
				{{> card }}
				{{> card }}
				{{> card }}

			</ul>
		</div>
		<img src="assets/images/Iconly1.svg" alt="" class="catalog__slider-right arrowRight" />
	</div>
</section>
