<section class="descriptions">
  <div class="container">
    <ul class="description__toggle">
      <li class="description__toggle-item active">Инструкция и обзор</li>
      <li class="description__toggle-item">Гарантия</li>
    </ul>
    <h2 class="description__title">Lorem ipsum dolor sit amet.</h2>
    <div class="description__content">
      <img src="../assets/images/b3ec12fca32531f1d54ab75efebe1f3ce9583f84.png" alt="" class="description__photo">
      <video autoplay controls src="../assets/images/Видео Заглушка.mp4" class="description__video"></video>
    </div>
    <p class="description__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus sint, doloremque amet sunt sit facere perferendis corrupti pariatur facilis consequatur consectetur reprehenderit quidem? Nesciunt consequuntur ab amet repellendus necessitatibus, nisi similique vero praesentium ipsam nulla molestiae assumenda exercitationem velit repellat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nihil magni sapiente! Vero laboriosam libero similique illo dolore, eius dolor.</p>
  </div>
</section>