<section class="faq">
	<div class="container">
		<h2 class="faq__title">Часто задаваемые вопросы</h2>
		<ul class="faq__list">
			<li class="faq__item">
				<div class="faq__title">
					<p class="faq__question">Какие гарантии, что я не потеряю деньги?</p>
					<svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M15 1.69995L8 8.69995L1 1.69995"
							stroke="#969FA8"
							stroke-width="1.5"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
					</svg>
				</div>
				<p class="faq__answer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, saepe.</p>
			</li>
			<li class="faq__item">
				<div class="faq__title">
					<p class="faq__question">Где взять ссылку на загрузку карты?</p>
					<svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M15 1.69995L8 8.69995L1 1.69995"
							stroke="#969FA8"
							stroke-width="1.5"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
					</svg>
				</div>
				<p class="faq__answer">
					Чтобы получить ссылку на скачивание выберите вашу систему из списка систем или напишите нам, если не
					получается разобраться.
				</p>
			</li>
			<li class="faq__item">
				<div class="faq__title">
					<p class="faq__question">Что мне нужно для установки карт?</p>
					<svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M15 1.69995L8 8.69995L1 1.69995"
							stroke="#969FA8"
							stroke-width="1.5"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
					</svg>
				</div>
				<p class="faq__answer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, saepe.</p>
			</li>
			<li class="faq__item">
				<div class="faq__title">
					<p class="faq__question">Могут ли возникнуть сложности?</p>
					<svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M15 1.69995L8 8.69995L1 1.69995"
							stroke="#969FA8"
							stroke-width="1.5"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
					</svg>
				</div>
				<p class="faq__answer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, saepe.</p>
			</li>
			<li class="faq__item">
				<div class="faq__title">
					<p class="faq__question">Как происходит процесс обновления?</p>
					<svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M15 1.69995L8 8.69995L1 1.69995"
							stroke="#969FA8"
							stroke-width="1.5"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
					</svg>
				</div>
				<p class="faq__answer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, saepe.</p>
			</li>
			<li class="faq__item">
				<div class="faq__title">
					<p class="faq__question">Какая будет версия карт и ПО?</p>
					<svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M15 1.69995L8 8.69995L1 1.69995"
							stroke="#969FA8"
							stroke-width="1.5"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
					</svg>
				</div>
				<p class="faq__answer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, saepe.</p>
			</li>
			<li class="faq__item">
				<div class="faq__title">
					<p class="faq__question">Что я получу после обновления?</p>
					<svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M15 1.69995L8 8.69995L1 1.69995"
							stroke="#969FA8"
							stroke-width="1.5"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
					</svg>
				</div>
				<p class="faq__answer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, saepe.</p>
			</li>
		</ul>
	</div>
</section>
