<footer class="footer">
	<div class="footer__top">
    <img src="assets/images/red 1.png" alt="logo" class="footer__logo" />
    <ul class="footer__nav-list">
      <li class="footer__nav-item"><a href="index.html" class="footer__nav-link">Главная</a></li>
      <li class="footer__nav-item"><a href="catalog.html" class="footer__nav-link">Каталог</a></li>
      <li class="footer__nav-item"><a href="#" class="footer__nav-link">Как установить</a></li>
      <li class="footer__nav-item"><a href="#" class="footer__nav-link">Отзывы</a></li>
    </ul>
    <ul class="footer__contacts">
      <li class="footer__contact">
        <a href="mailto:toyota-maps@yandex.ru" class="footer__contact-link">toyota-maps@yandex.ru</a>
      </li>
      <li class="footer__contact"><a href="tel:79140665555" class="footer__contact-link">tel:+7 (914) 066-55-55</a></li>
    </ul>
    <ul class="footer__socials">
      <li class="heder__social">
        <a href="" class="footer__social-link"
          ><img src="assets/images/span_whatsapp.png" alt="" class="footer__social-icon"
        /></a>
      </li>
      <li class="heder__social">
        <a href="" class="footer__social-link"
          ><img src="assets/images/span_telegram.png" alt="" class="footer__social-icon"
        /></a>
      </li>
    </ul>
     <button class="footer__button call">Заказать звонок</button>
  </div>
  <div class="footer__bottom">
    <p class="footer__design">design by Agency <span>moloko69</span></p>
    <p class="footer__copywriting">2025 © Все права защищены</p>
    <p class="footer__polityc">Политика конфиденциальности</p>
  </div>
</footer>
