<header class="header">
	<img src="assets/images/red 1.png" alt="logo" class="header__logo" />
	<ul class="header__nav-list">
		<li class="header__nav-item"><a href="index.html" class="header__nav-link">Главная</a></li>
		<li class="header__nav-item"><a href="catalog.html" class="header__nav-link">Каталог</a></li>
		<li class="header__nav-item"><a href="index.html#instruction" class="header__nav-link">Как установить</a></li>
		<li class="header__nav-item"><a href="index.html#testimonials" class="header__nav-link">Отзывы</a></li>
	</ul>
	<ul class="header__contacts">
		<li class="header__contact">
			<a href="mailto:toyota-maps@yandex.ru" class="header__contact-link">toyota-maps@yandex.ru</a>
		</li>
		<li class="header__contact"><a href="tel:79140665555" class="header__contact-link">+7 (914) 066-55-55</a></li>
	</ul>
	<ul class="header__socials">
		<li class="header__social">
			<a href="" class="header__social-link"
				><img src="assets/images/span_whatsapp.png" alt="" class="header__social-icon"
			/></a>
		</li>
		<li class="header__social">
			<a href="" class="header__social-link"
				><img src="assets/images/span_telegram.png" alt="" class="header__social-icon"
			/></a>
		</li>
	</ul>
	<div class="header__buttons">
		<button class="header__button call">Заказать звонок</button>
		<button class="header__menu" id="burgerBtn">
			<img src="assets/images/fi-sr-menu-burger.svg" alt="" class="header__menu-icon" />
		</button>

	</div>
{{> burger }}

</header>
