<section class="help">
	<h2 class="help__title">Поможем с установкой</h2>
	<form action="" class="help__form">
		<h3 class="help__form-title">
			Специалист свяжется с вами и сопроводит установку по телефону или видеосвязи
		</h3>
		<div class="help__form-top">
			<input type="text" class="help__form-input" placeholder="Марка и год авто" />
			<input type="phone" class="help__form-input phone" placeholder="+7" />
			<button class="help__form-button">Получить консультацию</button>
		</div>
		<div class="help__form-bottom">
			<button type="button" class="help__form-link ask">Связаться со специалистом</button>
			<button type="button" class="help__form-link call">Заказать звонок</button>
		</div>
	</form>
</section>
