<section class="hero">
	<div class="hero__tags">
    <p class="hero__tag">сопровождение под ключ</p>
    <p class="hero__tag">инструкции</p>
  </div>
	<h1 class="hero__title">
		Обновление навигационных карт для автомобилей Toyota и Lexus — за 15 минут, без дилера и переплат
	</h1>
	<p class="hero__subtitle">
		Как обновить карты навигации в автомобилях Toyota и Lexus самостоятельно: пошаговая инструкция, нужные файлы,
		лицензионный ключ, поддержка. Быстро, точно и без риска
	</p>
	<form action="" class="hero__form">
    <h3 class="hero__form-title">Поиск</h3> disabled selected hidden
		<div class="hero__form-top">
			<div class="dropdown">
        <p class="dropdown__selected ">Марка</p>
        <ul class="dropdown__list hidden">
          <li class="dropdown__item" data-value="1">Опция 1</li>
          <li class="dropdown__item" data-value="2">Опция 2</li>
          <li class="dropdown__item" data-value="3">Опция 3</li>
        </ul>
      </div>      
			<div class="dropdown">
        <p class="dropdown__selected">Модель</p>
        <ul class="dropdown__list hidden">
          <li class="dropdown__item" data-value="1">Опция 1</li>
          <li class="dropdown__item" data-value="2">Опция 2</li>
          <li class="dropdown__item" data-value="3">Опция 3</li>
        </ul>
      </div>      
			<div class="dropdown">
        <p class="dropdown__selected">Год выпуска</p>
        <ul class="dropdown__list hidden">
          <li class="dropdown__item" data-value="1">Опция 1</li>
          <li class="dropdown__item" data-value="2">Опция 2</li>
          <li class="dropdown__item" data-value="3">Опция 3</li>
        </ul>
      </div>      
			<button class="hero__form-button">
				<img src="assets/images/Search.svg" alt="" class="hero__form-icon" />Найти
			</button>
		</div>
		<div class="hero__form-bottom">
			<button type="button" class="hero__form-link ask">Связаться со специалистом</button>
			<button type="button" class="hero__form-link call">Заказать звонок</button>
		</div>
	</form>
</section>
