<section class="hero">
	<div class="hero__tags">
    <p class="hero__tag">сопровождение под ключ</p>
    <p class="hero__tag">инструкции</p>
  </div>
	<h1 class="hero__title">
		Обновление навигационных карт для автомобилей Toyota и Lexus — за 15 минут, без дилера и переплат
	</h1>
	<p class="hero__subtitle">
		Как обновить карты навигации в автомобилях Toyota и Lexus самостоятельно: пошаговая инструкция, нужные файлы,
		лицензионный ключ, поддержка. Быстро, точно и без риска
	</p>
	<form action="" class="hero__form">
    <h3 class="hero__form-title">Поиск</h3>
		<div class="hero__form-top">
			<div class="select-wrapper">
        <select name="" id="" class="hero__form-select">
          <option value="" class="hero__form-option">Марка</option>
          <option value="" class="hero__form-option"></option>
          <option value="" class="hero__form-option"></option>
        </select>
      </div>
			<div class="select-wrapper">
        <select name="" id="" class="hero__form-select">
          <option value="" class="hero__form-option">Модель</option>
          <option value="" class="hero__form-option"></option>
          <option value="" class="hero__form-option"></option>
        </select>
      </div>
			<div class="select-wrapper">
        <select name="" id="" class="hero__form-select">
          <option value="" class="hero__form-option">Год выпуска</option>
          <option value="" class="hero__form-option"></option>
          <option value="" class="hero__form-option"></option>
        </select>
      </div>
			<button class="hero__form-button">
				<img src="assets/images/Search.svg" alt="" class="hero__form-icon" />Найти
			</button>
		</div>
		<div class="hero__form-bottom">
			<button type="button" class="hero__form-link ask">Связаться со специалистом</button>
			<button type="button" class="hero__form-link call">Заказать звонок</button>
		</div>
	</form>
</section>
