<section class="instruction container" id="instruction">
  <h2 class="instruction__title">Установить новые карты в 3 шага за 15 минут</h2>
  <ul class="instruction__cards">
    <li class="instruction__card">
      <p class="instruction__card-step">шаг 1</p>
      <p class="instruction__card-stage">Подготовка</p>
      <ul class="instruction__card-actions">
        <li class="instruction__card-action">– Скачайте архив обновления на странице товара</li>
        <li class="instruction__card-action"> – Откройте подробную пошаговую инструкцию</li>
        <li class="instruction__card-action"> – Скопируйте файлы на USB-накопитель (флешку)</li>
      </ul>
      <a href="catalog.html" class="instruction__card-link">Перейти в каталог</a>
    </li>
    <li class="instruction__card">
      <p class="instruction__card-step">шаг 2</p>
      <p class="instruction__card-stage">Подключение</p>
      <ul class="instruction__card-actions">
        <li class="instruction__card-action">– Вставьте флешку в USB-порт автомобиля</li>
        <li class="instruction__card-action">– В меню выберите «Обновление навигации»</li>
        <li class="instruction__card-action">– Система автоматически определит нужные карты</li>
      </ul>
      <a href="catalog.html" class="instruction__card-link">Перейти в каталог</a>
    </li>
    <li class="instruction__card">
      <p class="instruction__card-step">шаг 3</p>
      <p class="instruction__card-stage">Активация</p>
      <ul class="instruction__card-actions">
        <li class="instruction__card-action">– Приобретите лицензионный ключ на сайте</li>
        <li class="instruction__card-action">– Введите его в интерфейсе навигации</li>
        <li class="instruction__card-action">– Дождитесь завершения установки — готово!</li>
      </ul>
      <a href="catalog.html" class="instruction__card-link">Выбрать цифровой ключ</a>
    </li>
  </ul>
  <button onclick="window.location.href='catalog.html'" class="instruction__button">Перейти в каталог</button>
</section>