<dialog class="popup" id="Connect">
	<button type="button" class="popup__close close">
		<img src="assets/images/1.svg" alt="" class="popup__close-icon" />
	</button>
	<h2 class="popup__title">Как с вами связаться?</h2>
	<form action="" class="popup__form">
		<div class="popup__inputs-text">
			<input type="text" class="popup__input-text" placeholder="Имя" />
			<input type="" class="popup__input-text phone" placeholder="+7" />
		</div>
		<div class="popup__inputs-checkbox">
			<div class="checkbox-telegram">
        <input type="checkbox" class="popup__input-checkbox" id="checkbox-7"/>
        <label for="checkbox-7" class="popup__label-checkbox">Telegram</label> 
      </div>
      <div class="checkbox-watsapp">
        <input type="checkbox" class="popup__input-checkbox" id="checkbox-8"/>
        <label for="checkbox-8" class="popup__label-checkbox">WhatsApp</label>
      </div>
		</div>
    <button type="button" class="popup__button" id="ConnectEndBtn">Заказать звонок</button>
    <p class="popup__agree">Нажимая кнопку “Заказать звонок” я соглашаюсь с политикой обработки персональных данных</p>
	</form>
</dialog>
