<dialog class="popup" id="Question">
	<button class="popup__close close">
		<img src="assets/images/1.svg" alt="" class="popup__close-icon" />
	</button>
	<h2 class="popup__title">
		Задайте вопрос, <br />
		ответим в течении 15 минут
	</h2>
	<form action="" class="popup__form">
		<div class="popup__inputs-text">
			<input type="text" class="popup__input-text" placeholder="Имя" />
			<input type="" class="popup__input-text phone" placeholder="+7" />
		</div>

		<textarea name="" id="" class="popup__textarea" placeholder="А как купить ..."></textarea>

		<button type="button" class="popup__button-green" id="QuestionEndBtn">Уточнить у менеджера</button>
		<p class="popup__agree">
			Нажимая кнопку “Уточнить у менеджера” я соглашаюсь с политикой обработки персональных данных
		</p>
	</form>
</dialog>
