<section class="testimonials container" id="testimonials">
	<h2 class="testimonials__title">Отзывы</h2>
	<div class="testimonials__container">
		<img src="assets/images/Iconly1-1.svg" alt="" class="testimonial__slider-left" />
		
		<ul class="testimonial__cards">
			<li class="testimonial__card">
				<div class="testimonial__card-top">
					<div class="testimonial__card-person">
						<img src="assets/images/img.png" alt="" class="testimonial__card-avatar" />
						<div class="testimonial__card-titles">
							<p class="testimonial__card-date">1 января 2025</p>
							<p class="testimonial__card-author">Елена Кузьмина</p>
						</div>
					</div>
					<ul class="testimonial__card-stars">
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
					</ul>
				</div>
				<p class="testimonial__card-review">
					Здравствуйте! Хочу поблагодарить и поздравить с Новым годом весь персонал стомотологи на Осинской 1…
				</p>
			</li>
			<li class="testimonial__card">
				<div class="testimonial__card-top">
					<div class="testimonial__card-person">
						<img src="assets/images/img.png" alt="" class="testimonial__card-avatar" />
						<div class="testimonial__card-titles">
							<p class="testimonial__card-date">1 января 2025</p>
							<p class="testimonial__card-author">Елена Кузьмина</p>
						</div>
					</div>
					<ul class="testimonial__card-stars">
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
					</ul>
				</div>
				<p class="testimonial__card-review">
					Здравствуйте! Хочу поблагодарить и поздравить с Новым годом весь персонал стомотологи на Осинской 1…
				</p>
			</li>
			<li class="testimonial__card">
				<div class="testimonial__card-top">
					<div class="testimonial__card-person">
						<img src="assets/images/img.png" alt="" class="testimonial__card-avatar" />
						<div class="testimonial__card-titles">
							<p class="testimonial__card-date">1 января 2025</p>
							<p class="testimonial__card-author">Елена Кузьмина</p>
						</div>
					</div>
					<ul class="testimonial__card-stars">
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
					</ul>
				</div>
				<p class="testimonial__card-review">
					Здравствуйте! Хочу поблагодарить и поздравить с Новым годом весь персонал стомотологи на Осинской 1…
				</p>
			</li>
			<li class="testimonial__card">
				<div class="testimonial__card-top">
					<div class="testimonial__card-person">
						<img src="assets/images/img.png" alt="" class="testimonial__card-avatar" />
						<div class="testimonial__card-titles">
							<p class="testimonial__card-date">1 января 2025</p>
							<p class="testimonial__card-author">Елена Кузьмина</p>
						</div>
					</div>
					<ul class="testimonial__card-stars">
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
					</ul>
				</div>
				<p class="testimonial__card-review">
					Здравствуйте! Хочу поблагодарить и поздравить с Новым годом весь персонал стомотологи на Осинской 1…
				</p>
			</li>
			<li class="testimonial__card">
				<div class="testimonial__card-top">
					<div class="testimonial__card-person">
						<img src="assets/images/img.png" alt="" class="testimonial__card-avatar" />
						<div class="testimonial__card-titles">
							<p class="testimonial__card-date">1 января 2025</p>
							<p class="testimonial__card-author">Елена Кузьмина</p>
						</div>
					</div>
					<ul class="testimonial__card-stars">
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
					</ul>
				</div>
				<p class="testimonial__card-review">
					Здравствуйте! Хочу поблагодарить и поздравить с Новым годом весь персонал стомотологи на Осинской 1…
				</p>
			</li>
			<li class="testimonial__card">
				<div class="testimonial__card-top">
					<div class="testimonial__card-person">
						<img src="assets/images/img.png" alt="" class="testimonial__card-avatar" />
						<div class="testimonial__card-titles">
							<p class="testimonial__card-date">1 января 2025</p>
							<p class="testimonial__card-author">Елена Кузьмина</p>
						</div>
					</div>
					<ul class="testimonial__card-stars">
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
					</ul>
				</div>
				<p class="testimonial__card-review">
					Здравствуйте! Хочу поблагодарить и поздравить с Новым годом весь персонал стомотологи на Осинской 1…
				</p>
			</li>
			<li class="testimonial__card">
				<div class="testimonial__card-top">
					<div class="testimonial__card-person">
						<img src="assets/images/img.png" alt="" class="testimonial__card-avatar" />
						<div class="testimonial__card-titles">
							<p class="testimonial__card-date">1 января 2025</p>
							<p class="testimonial__card-author">Елена Кузьмина</p>
						</div>
					</div>
					<ul class="testimonial__card-stars">
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
					</ul>
				</div>
				<p class="testimonial__card-review">
					Здравствуйте! Хочу поблагодарить и поздравить с Новым годом весь персонал стомотологи на Осинской 1…
				</p>
			</li>
			<li class="testimonial__card">
				<div class="testimonial__card-top">
					<div class="testimonial__card-person">
						<img src="assets/images/img.png" alt="" class="testimonial__card-avatar" />
						<div class="testimonial__card-titles">
							<p class="testimonial__card-date">1 января 2025</p>
							<p class="testimonial__card-author">Елена Кузьмина</p>
						</div>
					</div>
					<ul class="testimonial__card-stars">
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
						<li class="testimonial__card-star" ><img src="assets/images/vector.png" alt=""></li>
					</ul>
				</div>
				<p class="testimonial__card-review">
					Здравствуйте! Хочу поблагодарить и поздравить с Новым годом весь персонал стомотологи на Осинской 1…
				</p>
			</li>
		</ul>
		<img src="assets/images/Iconly-1.svg" alt="" class="testimonial__slider-right" />
		
	</div>
  <button class="testimonial__button">Перейти к отзывам на Авито</button>
</section>
