<section class="tovar">
	<div class="container">
    <ul class="catalog__breadcrumbs">
      <li class="catalog__breadcrumb"><a href="index.html" class="catalog__breadcrumbs-link">Главная</a></li>
      <li class="catalog__breadcrumb"><a href="catalog.html" class="catalog__breadcrumbs-link">Каталог</a></li>
      <li class="catalog__breadcrumb">
        <a href="catalog.html" class="catalog__breadcrumbs-link"
          >USB-Обновление карт навигации и ПО Toyota и Lexus GEN 10</a
        >
      </li>
    </ul>
    <div class="tovar__content">
       <div class="tovar__images">
         <div class="tovar__availability-position">
          <img src="../assets/images/b3ec12fca32531f1d54ab75efebe1f3ce9583f84.png" alt="" class="tovar__image" />
          <p class="tovar__availability">В наличии</p>
         </div>
         <div class="tovar__images-flex">
           <img src="../assets/images/Iconly.svg" alt="" class="tovar__images-slider left-images">
           <img src="../assets/images/b3ec12fca32531f1d54ab75efebe1f3ce9583f84.png" alt="" class="tovar__image-flex" />
           <img src="../assets/images/b3ec12fca32531f1d54ab75efebe1f3ce9583f84.png" alt="" class="tovar__image-flex" />
           <img src="../assets/images/b3ec12fca32531f1d54ab75efebe1f3ce9583f84.png" alt="" class="tovar__image-flex" />
           <img src="../assets/images/b3ec12fca32531f1d54ab75efebe1f3ce9583f84.png" alt="" class="tovar__image-flex" />
           <img src="../assets/images/b3ec12fca32531f1d54ab75efebe1f3ce9583f84.png" alt="" class="tovar__image-flex" />
           <img src="../assets/images/b3ec12fca32531f1d54ab75efebe1f3ce9583f84.png" alt="" class="tovar__image-flex" />
           <img src="../assets/images/Iconly1.svg" alt="" class="tovar__images-slider right-images">

         </div>
       </div>
       <div class="tovar__info">
         <h3 class="tovar__name">USB-Обновление карт навигации и ПО Toyota и Lexus GEN 10</h3>
         <p class="tovar__price">300 000 ₽</p>
         <div class="tovar__buttons">
           <button class="tovar__button-basket">В корзину</button>
           <button class="tovar__button-manager">Уточнить у менеджера</button>
         </div>
         <div class="tovar__info-links">
           <a href="" class="tovar__info-link">Перейти к инструкции</a>
           <a href="" class="tovar__info-link">Нужна помощь с установкой</a>
         </div>
         <p class="tovar__table-title">Характеристики</p>
          <table class="tovar__info-table">
            <tr class="tovar__info-row">
              <td class="tovar__info-value">Версия карт навигации</td>
              <td class="tovar__info-value">88888</td>
            </tr>
            <tr class="tovar__info-row">
              <td class="tovar__info-value">Версия ПО</td>
              <td class="tovar__info-value">88888</td>
            </tr>
            <tr class="tovar__info-row">
              <td class="tovar__info-value">Тип носителя</td>
              <td class="tovar__info-value">88888</td>
            </tr>
            <tr class="tovar__info-row">
              <td class="tovar__info-value">Тип установки</td>
              <td class="tovar__info-value">88888</td>
            </tr>
            <tr class="tovar__info-row">
              <td class="tovar__info-value">Заводской артикул</td>
              <td class="tovar__info-value">88888</td>
            </tr>
          </table>
          <div class="tovar__info-description">
            <p class="tovar__description__title">Описание</p>
            <p class="tovar__description-text">Средство предназначено для гигиенической обработки рук, обеззараживания перчаток, санитарной обработки кожных покровов и дезинфекции небольших поверхностей. Уничтожает бактерии, вирусы (гепатиты, коронавирусы), грибы рода Candida.</p>
            <button class="tovar__description-more">Читать далее</button>
          </div>
       </div>
     </div>
  </div>
</section>
